{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}
<section class="service-2 section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Events</h2>
                    <p> </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Event Code</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Event Name" name="event_code">
                    </div>
                    <div class="form-group">
                        <label for="participantName">Participant Name</label>
                        <input type="text" class="form-control" id="participantName" aria-describedby="emailHelp"
                            placeholder="Enter Participant Name" name="participantName">
                    </div>
                    <div class="form-group">
                        <label for="participantEmail">Participant Code</label>
                        <input type="text" class="form-control" id="participantCode" aria-describedby="emailHelp"
                            placeholder="Enter Participant Code" name="participantCode">
                    </div>
                   <!-- submit button -->
                    <button type="submit" class="btn btn-primary">Join Event</button>

                        
                      
     
                   
                    <!--  -->
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
                        data-timeout="3000" role="alert">
                        {{message}}
                        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}

{% endblock javascripts %}