{% extends 'base.html' %}
{% block title %}Event Details{% endblock title %}
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<!--
Start About Section
==================================== -->
<section class="service-2 section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="event-details-content">
                    <h2 class="text-center">{{ event.name }}</h2>
                    <span class="mx-5">Description :{{ event.description }}</span>
                    <span class="mx-5">Participants: {{ event.participants }}</span>
                    <span class="mx-5"> X Value: {{ event.x_value }}</span>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center mt-5">
            <div class="col-lg-12">

                {% for level in levels %}
                <h4>Level {{forloop.counter}}</h4>

                <ul>
                    {% for group in groups %}
                    {% if group.level == level %}
                    <li>{{ group.name }} - Capacity: {{ group.capacity }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h3>Time Matrix</h3>
                <table>

                    <tbody>
                        {% for row in time_matrix %}
                        <tr>
                            <td></td>

                            <td>{{ row.group_from.name }} to {{row.group_to.name}} :</td>

                            <td>{{ row.travel_time }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <h3>Happiness Matrix</h3> -->


        <!-- {{happiness_matrix}} -->



        <!-- <table cellpadding="10">
                    <tbody>

                        {% for row in happiness_matrix %}
                        <tr>
                            {% for item in row %}
                            <td class="text-center">
                                {{ item }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> -->

        <div class="table-responsive">
            <table border="1" align="center" cellpadding="10" class="mt-3 table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Event Code</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{event.code}}</td>

                        <td>
                            <a href="{% url 'generate_codes' event.id %}">Generate Code</a> |

                            <a href="{% url 'time_details' event.id %}">Time Details</a> |
                            <a href="{% url 'happiness_matrix' event.id %}">Happiness Matrix</a> |
                            <a href="{% url 'participants' event.id %}">Participants</a> |

                            <a href="">Preferences</a> |
                            {% if event.is_active %}

                            <a href="{% url 'stop_event' event.id %}">Stop Event</a> |
                            {% else %}
                            <a href="{% url 'start_event' event.id %}">Start Event</a> |

                            {% endif %}

                            <a href="">Results</a> |
                            <a href="{% url 'delete_event' event.id %}" onclick="return confirmDelete()">Delete</a>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        {% if messages %}
        {% for message in messages %}
        <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
            data-timeout="3000" role="alert">
            {{message}}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section> <!-- End section -->


{% endblock content %}


{% block javascripts %}
<script>
    function confirmDelete() {
        // Display a confirmation dialog
        if (confirm("Are you sure you want to delete this event?")) {
            return true; // Proceed with the deletion
        } else {
            return false; // Cancel the deletion
        }
    }
</script>










{% endblock javascripts %}