{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block stylesheets %}
<style>
  .draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  cursor: grab;
  background-color: #f0f0f0;
  height: 300px;
  width: 100%;
  
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}

.sortable-container {
  min-height: 450px;
  border: 2px dashed #ccc;
  margin-top: 20px;
  padding: 10px;
  background-color: #fafafa;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sortable-container::after {
  content: "Drop here to create a new level";
  color: #aaa;
  padding: 20px;

}


.sortable-container-group{
  min-height: 200px;
  border: 2px dashed #ccc;
  margin-top: 20px;
  padding: 10px;
  background-color: #fafafa;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sortable-container-group::after {
  content: "Drop here to create a new Group";
  color: #aaa;
  padding: 10px;
}


.level-container,
.group-container {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  position: relative;
}

.level-container {
  background-color: #e9f7ef;
}

.group-container {
  background-color: #fef9e7;
}

.level-container h3,
.group-container label {
  margin: 0;
  padding: 5px 0;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #e74c3c;
  font-size: 20px;
}
.mainInnerContainer {
    width: 750px;
    overflow-y: scroll;
    height: 500px;
    scrollbar-width: none; /* Hide default scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide default scrollbar in IE/Edge */
}

.mainInnerContainer::-webkit-scrollbar {
    display: none; /* Hide default scrollbar in WebKit browsers */
}


</style>
{% endblock stylesheets %}

{% block content %}
<section class="service-2 section">
    <form method="post">
        {% csrf_token %}
  <div class="container">
    <div class="row justify-content-center">
        <div class=" text-center">
          <h2>Events</h2>
         
          <div class="border"></div>
          </div>
    </div>
   
    <div class="row justify-content-center">
      <div class="col-md-2 text-center d-flex align-items-center">
        <div class="draggable" id="draggable_level" draggable="true">Level</div>
      </div>
      <div class="mainInnerContainer" id="mainInnerContainer">

          <div class="col-md-12">
              <div id="levels_container" class="sortable-container" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
        </div>
      <div class="col-md-2 text-center d-flex align-items-center">
        <div class="draggable" id="draggable_group" draggable="true">Group</div>
      </div>
    </div>
    <div class="col-12 text-center mt-3 mb-2">
      <input class="btn btn-outline-success" type="submit" name="finish" value="Finish">
    </div>
  </div>
</form>

</section>
{% endblock content %}

{% block javascripts %}
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var levelCounter = 0;
    var groupCounter = 0;

    document.getElementById('draggable_level').addEventListener('dragstart', function(event) {
        event.dataTransfer.setData('type', 'level');
    });

    document.getElementById('draggable_group').addEventListener('dragstart', function(event) {
        event.dataTransfer.setData('type', 'group');
    });

    window.allowDrop = function(event) {
        event.preventDefault();
    };

    window.drop = function(event) {
        event.preventDefault();
        event.stopPropagation();

        var data = event.dataTransfer.getData('type');
        if (data === 'level') {
            addLevel(event.target);
        } else if (data === 'group') {
            var targetLevel = event.target.closest('.level-container');
            if (targetLevel) {
                addGroup(targetLevel.querySelector('.groups-container'));
            }
        }
        updateNumbers();
    };

    function addLevel(target) {
        if (!target.classList.contains('sortable-container')) return;

        levelCounter++;
        var levelContainer = document.createElement('div');
        levelContainer.className = 'level-container';
        levelContainer.id = 'level_' + levelCounter;
        levelContainer.name = 'level_' + levelCounter;
        levelContainer.draggable = true;
        levelContainer.ondragstart = function(event) {
            event.dataTransfer.setData('type', 'level');
        };
        levelContainer.ondrop = drop;
        levelContainer.ondragover = allowDrop;

        var levelTitle = document.createElement('h3');
        levelTitle.innerHTML = 'Level ' + levelCounter;
        levelContainer.appendChild(levelTitle);

        var levelHiddenInput = document.createElement('input');
        levelHiddenInput.type = 'hidden';
        levelHiddenInput.name = 'Level_' + levelCounter;
        levelHiddenInput.required = true;
        levelHiddenInput.value = levelCounter;
        levelContainer.appendChild(levelHiddenInput);

        var removeBtn = document.createElement('span');
        removeBtn.className = 'remove-btn';
        removeBtn.innerHTML = '✖';
        removeBtn.onclick = function() {
            levelContainer.remove();
            updateNumbers();
        };
        levelContainer.appendChild(removeBtn);

        var groupsContainer = document.createElement('div');
        groupsContainer.className = 'groups-container sortable-container-group';
        groupsContainer.id = 'groups_container_' + levelCounter;
        groupsContainer.ondrop = drop;
        groupsContainer.ondragover = allowDrop;
        levelContainer.appendChild(groupsContainer);

        target.appendChild(levelContainer);
        scrollToBottom(document.querySelector('.mainInnerContainer'));

    }

    function addGroup(target) {
        console.log(levelCounter);
        if (!target.classList.contains('groups-container')) return;

        groupCounter++;
        var groupContainer = document.createElement('div');
        groupContainer.className = 'group-container';
        groupContainer.id = 'group_' + groupCounter;
        groupContainer.draggable = true;
        groupContainer.ondragstart = function(event) {
            event.dataTransfer.setData('type', 'group');
        };

        var groupName = document.createElement('label');
        groupName.innerHTML = 'Group Name ' + groupCounter;
        groupContainer.appendChild(groupName);

        var nameInput = document.createElement('input');
        nameInput.type = 'text';
        nameInput.name = 'group_name_' + levelCounter +"_"+ groupCounter;
        nameInput.required = true;
        nameInput.className = 'form-control ml-3 mr-2';
        groupContainer.appendChild(nameInput);

        var groupCapacity = document.createElement('label');
        groupCapacity.innerHTML = 'Group Capacity ' + groupCounter;
        groupContainer.appendChild(groupCapacity);

        var capacityInput = document.createElement('input');
        capacityInput.type = 'text';
        capacityInput.name = 'capacity_' + levelCounter +"_"+ groupCounter;
        capacityInput.required = true;
        capacityInput.className = 'form-control ml-3 mr-2';
        groupContainer.appendChild(capacityInput);

        var removeBtn = document.createElement('span');
        removeBtn.className = 'remove-btn';
        removeBtn.innerHTML = '✖';
        removeBtn.onclick = function() {
            groupContainer.remove();
            updateNumbers();
        };
        groupContainer.appendChild(removeBtn);

        target.appendChild(groupContainer);

        scrollToBottom(document.querySelector('.group_' + groupCounter));


    }

    function updateNumbers() {
        var levels = document.getElementById('levels_container').children;
        levelCounter = 0;
        groupCounter = 0;
        for (var i = 0; i < levels.length; i++) {
            levelCounter++;
            levels[i].id = 'level_' + (i + 1);
            levels[i].querySelector('h3').innerHTML = 'Level ' + (i + 1);
            levels[i].querySelector('input[type="hidden"]').name = 'Level_' + (i + 1);

            var groups = levels[i].querySelector('.groups-container').children;
            for (var j = 0; j < groups.length; j++) {
                groupCounter++;
                groups[j].id = 'group_' + (i + 1) + '_' + (j + 1);
                var labels = groups[j].querySelectorAll('label');
                labels[0].innerHTML = 'Group Name ' + (j + 1);
                labels[1].innerHTML = 'Group Capacity ' + (j + 1);
                groups[j].querySelector('input[name^="group_name"]').name = 'group_name_' + (i + 1) + '_' + (j + 1);
                groups[j].querySelector('input[name^="capacity"]').name = 'capacity_' + (i + 1) + '_' + (j + 1);
            }
        }
    }    

   

function scrollToBottom(container) {
    container.scrollTop = container.scrollHeight;
}

});



</script>
{% endblock javascripts %}
